#pageTitle{
    color: red;
    text-align: center;
    background-color: black;
    font-family: Impact, fantasy;

}

/* all for nav bar*/
ul.navBar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: black;
    overflow: hidden;
}

li.navBar{
    float: left;
    border-right: 1px solid gray;
}

li.navBar:last-child{
    border-right: none;
}

li.navBar a{
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 15px;
    font-weight:bold;
}

div.header{
    background: black;
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0;
    position: sticky;
}
/* all for nav bar*/


/* home page */

@media only screen and (min-width: 400px){
    #homePage{
        background: lightpink;
        background-size: cover;
        background-repeat: no-repeat;

        }
}

@media only screen and (min-width: 641px){
    #homePage{
        background-image: url("photos/mountain.jpg");
        background-size: cover;
        background-repeat: repeat;
        }
}

@media only screen and (min-width: 1000px){
    #homePage{
        background-image: url("photos/clear-sky-clouds.jpg");
        background-size: cover;
        background-repeat: repeat;
    
    }
}

h2{
    color: rgb(240, 207, 40);
    text-align: center;
    text-decoration: underline;
    text-decoration-style: double;
    text-decoration-thickness: 2px;
}

#homeLink{
    color: black;
    text-align: center;
    text-decoration: none;
    border: 2px solid red;
    border-radius: 12px;
    padding: 5px;
}

.navBarDescription{
    text-align: center;
}

#navBar{
    width:33.33%;
    text-align: center;
}

@keyframes photoIntro {
    from{ transform: rotate(0deg);}
    to{ transform: rotate(360deg);}
    
}

.familyPhoto{
    display: block;
    margin-left: auto;
    animation-name: photoIntro;
    animation-duration: 2s;
    animation-iteration-count: 2;
    animation-direction: reverse;
}

p{
    color: brown;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}



table,tr,td{
    border-top: double;
    border-left: double;
    border-right: double;
    border-bottom: double;
    color: white;
    text-align: center;
    text-decoration: none;
    border-color: skyblue;
    border-radius: 12px;
    padding: 5px;
}

img{
    height :200px ;
} 



/* 3dPrinters */

.printingPage{
    background-image: linear-gradient(red, yellow);
    
}

.container{
    display: flex;
    justify-content: center;
}

.printContainer{
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    margin: 20px;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 1000px) {
    div.printContainer{
        flex-direction: column;
     }
  }

.container div{
    
    width: 200px;
    margin: 10px;
    text-align: center;
    height: 220px;
    font-size: 20px;
}

@keyframes printerLeftIntro {
    0%{
        transform: skew(60deg) translateX(750px);
    }
    100%{
        transform: skew(0deg);
    }
    
}

div.container div.PrinterLeft{
    animation-name: printerLeftIntro;
    animation-duration: 2s;
    animation-delay: 1s;
}

@keyframes printerRightIntro {
    0%{
        transform: skew(60deg) translateX(-750px);
    }
    100%{
        transform: skew(0deg);
    }
    
}

div.container div.PrinterRight{
    animation-name: printerRightIntro;
    animation-duration: 2s;
    animation-delay: 1s;
}

.name{
    text-decoration: none;
    text-transform: uppercase;
    text-shadow:2px 2px 5px black ;
    font-style: oblique;
    font-size: 30px;
}

.printerPhoto{
    border-radius: 50%;
}

 /*anime page  */
body.animePage{
    background-image: url(photos/bonsiaTree.jpg);

}

 div.animeIntro{
    height: 200px;
    width: 200px;
    background-color: yellow;
    box-shadow: 10px 10px orange;
 }

 div.animeIntro p{
    color: blue;
 }
 
 /* add a card */


 div.animeContainer{
    display: flex;
    flex-direction: column;

 }

 @media only screen and (min-width: 1000px) {
    div.animeContainer{
        flex-direction: row;
     }
  }

div.animePhotoDiv{
    background: gray;
    width: 200px;
    height: 200px;
    margin-top: 10px;
    margin-bottom: 12px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

div.animePhotoDiv p{
text-indent: 1%;
color: black;
background-color: lightcoral;
margin-top:0px;
}


